h1{
    font-size:50px;
    font-style: inherit;
    text-shadow:1cap;
    padding-top: 3hv;
    font-size: sans-serif;
    color:#f20182;
}
p{
    font-size: 25px;
}
img{
    width: 400;
    height:Â 250;
Â Â Â Â 
}