h1{
    font-size:50px;
    font-style: inherit;
    text-shadow:1cap;
    padding-top: 3hv;
    font-size: sans-serif;
    color:#f20182;
}
p{
    font-size: 25px;
}
.img_deg{
    float:right;
    width:25%;
 Â Â Â height:25%;
}